[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mccabe = "*"
pytest-flake8 = "*"
tox = "*"
ipython = "*"

[packages]
entitykb = {editable = true,path = "./",extras = ["api"]}
pytest = "*"

[requires]
python_version = "3.7"
