[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
markdown-include = ">=0.5.1,<0.6.0"
mkdocs = ">=1.1.2,<2.0.0"
mkdocs-material = ">=5.4.0,<6.0.0"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mccabe = "*"
tox = "*"

[packages]
entitykb = {editable = true, path = "./", extras = ["http", "rpc"]}

[requires]
python_version = "3.7"
